.container__cabecalho {
    background-image: linear-gradient(to right, var(--cor-3), var(--cor-4));
    color: var(--cor-7);
    padding: 32px;
    text-align: center;
    }

.cabecalho__titulo1{
    font-size: 1rem;
    margin: 10px;
}

.cabecalho__texto1{`
    font-size: 1.14em;
    margin: 10px;
}

.container__pesquisa{
    width: 70vw;
    background-color: transparent;
    color: var(--cor-7);
    padding: 0.5em;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid var(--cor-7);margin: 10px;
}

.container__pesquisa::placeholder{
    color: var(--cor-7);
   background: url(../midia/lupa.svg);
   background-repeat: no-repeat;
   padding: ;

}

/* ABAIXO SÃO AS CONFIGURAÇÕES DO BANER PARA TELA ACIMA DE 1024PX */

@media screen and (min-width: 1024px) {

    .container__cabecalho{

    }

    .cabecalho__titulo1{
        font-size: 2.25em;
        padding-top: 40px;
    }

    .cabecalho__texto1{

    }

    .container__pesquisa{
        padding: 24px;  
        width: 50vw;
        font-size: 1.3em;
        border-radius: 40px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.335);
        
    }

    .container__pesquisa::placeholder{

    }
}