*{
    padding: 0;
    margin: 0;
}
:root{
    --cor-1: #EBECEE;
    --cor-3: #002f52;
    --cor-4: #326589;
    --cor-5: #eb9b00;
    --cor-6: #000000;
    --cor-7: #ffffff;

    --font-1: "poppins";

}
      /*---^REGRRAS^---*/

.cabecalho{
    background-color: var(--cor-7 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../midia/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    }

    .container__1{
    display: flex;
    
    align-items: center;
    }

    .container__img{
    padding: 1em;
    }

    .menu__lista{
    display: none;
    position: absolute;
    top: 100%;
    }

    .container__botao:checked~.menu__lista{
    display: block;
    
    }

    .menu__lista__item, .menu__lista__titulo{
        padding: 1rem;
        background-color: var(--cor-7);
        padding-right: 100px;
    }

    .menu__lista__titulo{
        color: #eb9b00;
        font-weight: 700;
    }

    .lista__link{
        text-decoration: none;
        color: var(--cor-4);
    }

    /*---CABEALHO---*/

    .container__cabecalho {
        background-image: linear-gradient(to right, var(--cor-3), var(--cor-4));
        color: var(--cor-7);
        padding: 32px;
        text-align: center;
        }

    .cabecalho__titulo1{
        font-size: 1rem;
        margin: 10px;
    }

    .cabecalho__texto1{`
        font-size: 1.14em;
        margin: 10px;
    }

    .container__pesquisa{
        width: 70vw;
        background-color: transparent;
        color: var(--cor-7);
        padding: 0.5em;
        text-align: center;
        font-size: 1rem;
        border-radius: 20px;
        border: 1px solid var(--cor-7);margin: 10px;
    }

    .container__pesquisa::placeholder{
        color: var(--cor-7);
       background: url(../midia/lupa.svg);
       background-repeat: no-repeat;
       padding: ;

    }

    /*---CARROCEL---*/

    .carrocel{

    }

    .carrocel__titulo{
        font-size: 1.13em;
        background-color: var(--cor-7);
        padding: 1em 0 0.5em 0;
        color: var(--cor-5);
        text-align: center;
        font-weight: 700;
    }

    .swioer-slide{
        width: 100%;

    }

    .swiper-button-next,.swiper-button-prev{
        display: none;
    }

    .swiper-pagination{
        position: initial;
        padding: 0.5em 0;
    }

    /*---FIM DO CARROCEL---*/

    .oiaso{
        background-color: var(--cor-7);
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 24px;
        border-radius: 15px;
    }

    .teste{
        margin: 20px;
    }

    .curiosidade{
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .teste1{
        color: #eb9b00;
        padding: 20px 5px;
    }

    .teste2{
        color: #002f52;
        padding: 20px 5px;
        font-size: 1.2em;
    }

    .teste__img{
        padding: 30px;
    }
    .botao1{
        text-decoration: none;
        color: var(--cor-7);
        background-color: var(--cor-5);
        padding: 1em 2em;
        font-weight: 700;
        margin-bottom: 30px;
    }