*{
    padding: 0;
    margin: 0;
}
:root{
    --cor-1: #EBECEE;
    --cor-3: #002f52;
    --cor-4: #326589;
    --cor-5: #eb9b00;
    --cor-6: #000000;
    --cor-7: #ffffff;

    --font-1: "poppins";

}
      /*---^REGRRAS^---*/

.cabecalho{
    background-color: var(--cor-7 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__icones{
    display: flex;
    justify-content: center;
}

.cabecalho1{
    
    display: flex;
    align-items: center;
    text-align: center;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../midia/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    }

    .container__1{
    display: flex;
    
    align-items: center;
    }

    .container__img{
    padding: 1em;
    }

    .menu__lista{
    display: none;
    position: absolute;
    top: 100%;
    }

    .container__botao:checked~.menu__lista{
    display: block;
    
    }

    .container__botao{
        display: none;
    }

    .menu__lista__item, .menu__lista__titulo{
        padding: 1rem;
        background-color: var(--cor-7);
        padding-right: 100px;
    }

    .menu__lista__item{
        list-style: none;
    }

    .menu__lista__titulo{
        color: var(--cor-5);
        font-weight: 700;
    }

    .lista__link{
        text-decoration: none;
        color: var(--cor-4);
    }

    .p1024__container{
        display: none;
    }

    .cabecalho__1 p{
        display: none;
    }

    /* ABAIXO SÃO AS CONFIGURAÇÕES PARA TABLETE MIN 1024 */

@media screen and (min-width: 1024px) {
    
            .cabecalho1{
                display: none;
            }

            .cabecalho__img__coracao{
                display: none;
            }

    /* ACIMA CONFIGURAÇÕES OCULTAS PARA MENORES 1024 */

    .p1024__container{
        display: block;
        text-align: center;
    }

    .container__1024{
        display: flex;
        align-items: center;
    }

    .container__1024__img__logo{
        padding: 30px;
    }

    .container__1024__titulo, .container__1024__titulo__b{
        font-family: var(--font-1);
        font-size: 30px;
    }

    .container__1024__titulo{
        font-weight: 400;
    }

    .container__1024__titulo__b{
        font-weight: 700;
        font-size: ;
    }

    .container__1024__lista__principal{
        display: flex;
        justify-content: space-between;
    }

    .container__1024__lista1{
        padding: 2em;
        list-style: none;
    }

    .container__1024__lista__link{
        text-decoration: none;
        color: var(--cor-6);
    }

    .cabecalho__1024__menu__g:checked~.menu__lista{
        display: block;
        width: auto;
    }    


    .cabecalho__1024__menu__g{
        display: none;
    }

    }

/* ABAIXO SÃO AS CONFIGURAÇÕES PARA PC MIN 1728 */

@media screen and (min-width: 1728px) {

    .cabecalho__1 p {
        display: block;
    }

    .cabecalho__1{
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .cabecalho__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-6);
    }

}    