@import url("cabecalho.css");
@import url("baner.css");
@import url("carrocel.css");
@import url("card.css");
@import url("topicos.css");
@import url("contato.css");
@import url("footer.css");

    /*---^STYLES^---*/

    *{
        padding: 0;
        margin: 0;
    }
    :root{
        --cor-1: #EBECEE;
        --cor-3: #002f52;
        --cor-4: #326589;
        --cor-5: #eb9b00;
        --cor-6: #000000;
        --cor-7: #ffffff;

        --font-1: "poppins";

    }

    /*---^REGRRAS^---*/

    body{
        background-color: var(--cor-1);
        font-family: 'poppins';
    }


    